/Lab2/Netbeans/Lab2/nbproject/private/
/Lab2/Netbeans/Lab2/build/
/Lab2/Netbeans/Lab2/dist/
/Lab3/Netbeans/Lab3/nbproject/private/
/Lab3/Netbeans/Lab3/build/
/Lab3/Netbeans/Lab3/dist/
/Lab4/Netbeans/Lab4/nbproject/private/
/Lab4/Netbeans/Lab4/build/
/Lab4/Netbeans/Lab4/dist/